
@model ApplicationCore.Models.UserRegisterRequestModel;

@*@section Styles {
   <link rel="stylesheet" href="~/css/Register.css" type="text/css" />
    
}*@

@{
     Layout = "_Layout";
    ViewData["Title"] = "Register Page";
    
}


<div class="col-md-4" style="margin-left: auto;margin-right: auto;">
    <form id="registerform" asp-action="Register" asp-controller="Account" method="post">

      <h1 class="h3 mb-3 fw-normal">Register</h1>
     

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="Email"  placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingFistname" name="Firstname" placeholder="FirstName">
        <label for="floatingFistname">First Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingLastname" name="Lastname" placeholder="LastName">
        <label for="floatingLastname">Last Name</label>
      </div>
      <div class="form-floating">
        <input type="date" class="form-control" id="floatingDOB" name="DateOfBirth" placeholder="DOB">
        <label for="floatingDOB">Date Of Birth</label>
      </div>


      
      <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
  </div>