@*-- user is authenticated 
    First name LastName  ---> userController 
    dropdown 
    - account info :user/edit
    - logout  :logout redirect to login page
    - favorites   :user/favorite
    - movies purchased: user/movies

    if not logged in
    show register / login buttons  : account/register     account/login
    
    
    
    *@



@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<div class="text-end" style="display: flex;">


    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register"><button id="loginbutton" class="btn btn-outline-light">Register </button></a>


    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><button id="registerbutton" class="btn btn-outline-light">Login </button></a>

</div>
