@model ApplicationCore.Models.MovieCardModel;


<div class="card mb-4 ml-5">
    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.Id">
        <img class="img-fluid" src="@Model.PosterURL" alt="@Model.Title">
    </a>
</div>

