
@model ApplicationCore.Models.MovieCardModel;

<div style="display: flex">
    <partial name="_MovieCardPartial" />

    <div class="card" >
        
        <h3>@Model.Title</h3>

        <p>@Model.PosterURL</p>
        <p>@Model.Id</p>


    </div>
</div>